.snakemake/
outputs/
inputs/CAMI_low.tar
inputs/CAMI_low/
inputs/raw/
inputs/sourmash_databases/genbank-2022.03-bacteria-k31.zip
inputs/sourmash_databases/genbank-2022.03-bacteria.lineages.csv
inputs/sourmash_databases/genbank-2022.03-bacteria.lineages.csv.gz
